* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Nunito;
    src: url("../fonts/Nunitoregular.woff");
}
@font-face {
    font-family: Nunito;
    src: url("../fonts/Nunitoextrabold.woff");
}

body {
    font-family: Nunito, sans-serif;
}

.layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    flex-shrink: 0;
    background: #F7F7F7;
}

.logo {
    padding: 25px 0;
    text-align: center;
    display: block;
}

.navigation ul {
    list-style: none;
}

.navigation-item.active a,
.navigation-item.active span,
.navigation-item a:hover {
    background: #467DF2;
    color: #FFFFFF;
}

.navigation-item:hover path {
    fill: white;
}
.navigation-item:hover span {
    color: white;
}

.navigation-item a {
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 13px 15px;
}

.navigation-item a span {
    font-size: 14px;
    line-height: 19px;
    color: #858796;
    margin-left: 10px;
}

.feedback {
    display: flex;
    position: fixed;
    bottom: 17px;
    left: 7px;
    width: 225px;
    height: 178px;
}

.feedback:hover{
    border: 1px solid #467DF2;
    border-radius: 5px;
}

.feedback-info {
    padding: 14px 12px;
}

.feedback-image {
    float: left;
    margin-right: 6px;
}

.feedback-text {
    font-size: 14px;
    line-height: 19px;
    color: #4F4E4F;
    margin-top: -5px;
}

.feedback-text a {
    text-decoration: none;
    color: #0042EB;
}